html {
	font-size: 18px;
	font-family: "Spectral";
	background-color: #DBD6D6;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 0 auto 0 auto;    
  color: grey;
  text-shadow: 3px 3px 0 black;
}

h2 {text-align: right;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 500px;
  margin: 20px auto 20px auto;
  background-color: #F7F2F2;
  padding: 0 20px 20px 20px;
  border: 2.5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

#myid:hover {
  color: red;
  width: 500px;
}

.border{
	width: 500px;
	border:1px solid black;}
